@charset "utf-8";
/*health-index*/
.login-bg{background: url("../images/health_bg.jpg") no-repeat; background-size: cover;}
.health-head{border:none; background: none;}
.health-head a{color:#FFF;}
.health-index{position: absolute; top:0; left:0; right:0; bottom:0;}
.health-font{padding:200px 0 80px; background: url("../images/health_font.png") no-repeat center 130px;background-size: 270px;}
.health-font p{margin: 0 auto; height:20px; line-height:20px; color:#FFF; text-align: center; font-size:15px;}
.apply-btn{padding:0 60px;}
.apply-btn a{width:100%;height:45px; line-height:45px; display: block; background:#e94816; border-radius:6px; color:#FFF; font-size:18px; font-weight:normal;}
.apply-btn a b{display: block; height:22px; width:22px; float:left; margin:10px 0 0 50px; background: url("../images/health_icon01.png") no-repeat ; background-size: 22px;}
.apply-btn a span{display: inline-block; padding-left:10px;}
.applying-btn a{ background:#3d3d3d;}
.applying-btn span{padding:0; text-align: center; width:100%;}
.health-tel{padding:200px 0 80px;}
.health-tel p{text-align: center; color:#FFF; font-size:18px;}
.health-tel-btn{ padding-left:10px;}
.health-tel-btn li{float:left; width:50%;}
.health-tel-btn li a{height:38px; display:block; margin-right:10px; color:#FFF; border-radius: 6px; line-height:38px; text-align: center;background: #e94816;}
.see-rule{position: absolute; bottom:10px; right:10px; border-bottom:1px solid #FFF; padding-bottom:1px;}
.see-rule a{ display:block; border-bottom:1px solid #FFF; color:#FFF; font-size:15px;}
.verification-tel{align-items: center;  bottom: 0;  display: flex;  flex: 1 1 0;  height: 100%;  justify-content: center;  left: 0;  position: absolute;  right: 0; text-align: center;  top: 0;  width: 100%;  z-index: 10;}
.verification-tel-box{margin:0 12px; background: #FFF; border-radius: 8px;}
.verification-tel-box ul li{border-bottom:1px solid #dadada;  height:50px; overflow: hidden;  display: block; }
.verification-tel-box ul li a{font-size:15px;}
.box-text{ padding:0 100px 0 10px;}
.box-text input,.box-code input{width:100%; display: inline-block; color:#000; height:50px; line-height:50px; font-size:15px; overflow: hidden;}
.box-btn{float:right; padding-left:10px; text-align: center; height:50px; line-height:50px; border-left:1px solid #dadada; color:#ff1717; }
.box-btn a{color:#ff4343;}
.verification-tel-box ul li:last-child{border-bottom:none;}
.box-code{padding:0 0 0 10px;}
.for-btn{width:50%; float:left;}
.for-btn a{height:50px; display:block; color:#a0a0a0; border-right:1px solid #dadada; line-height:50px; text-align: center;}
.last-btn a{border-right:0; color:#00b4b8;}
/*two-dimension*/
.two-dimension{align-items: center;  bottom: 0;  display: flex;  flex: 1 1 0;  height: 100%;  justify-content: center;  left: 0;  position: absolute;  right: 0; text-align: center;  top: 0;  width: 100%;  z-index: 10;}
.two-dimension img{height:221px; width:221px; display: inline-block;}
/*health-sort*/
.health-list{padding:45px 0 70px 0; overflow: hidden;position: relative;}
.health-sort li{overflow: hidden; border-bottom:1px solid #dadada;border-top:1px solid #dadada;  height:60px;   margin-top:-1px;}
.health-sort li a{display:block;  height:60px; background: #FFF;line-height:60px;}
.health-sort-head{float:left; padding-left:10px;}
.health-sort-head span{float:left; display: inline-block; width:15px; text-align: center;}
.health-sort-head img{height:40px; width:40px; margin:10px 8px 0; float:left;}
.health-sort-head b{float:left; display: inline-block;}
.health-sort-name{float:right; font-size:12px; padding-right:10px; }
.health-sort-name b{font-size:15px; margin-right:5px;}
.health-sort li a:hover{background: #5d7abc; color:#FFF;}
.health-info{margin:10px; border:2px solid #00b4b8; height:40px; border-radius: 3px;}
.health-info li{float:left; width:33.3%; text-align: center; height:40px; line-height:40px; }
.health-info li a{ color:#FFF; display:block;background: #00b4b8;}
.health-info li.current a{background: #FFF; color:#00b4b8;}
.health-tit{border-bottom:1px solid #dadada;border-top:1px solid #dadada;  height:40px; background: #f5f5f5;   margin-top:-1px; padding:0 10px;}
.health-tit span{float:left; display: block;height:40px;line-height:40px;font-size:15px; }
.health-tit p{float:right; line-height:40px;height:40px; }
.health-tit p b{font-size:20px; color:#ff4747;}
/*health-pharmacy*/
.health-pharmacy table tr td{border-top:1px solid #dadada;   margin-top:-1px; vertical-align:middle;  }
.health-pharmacy table tr:last-child td{border-bottom:1px solid #dadada;}
.health-pharmacy{background: #FFF;}
.health-hour{padding:0 10px; height:30px; font-size:12px; line-height:30px;}
.health-btn{height:50px; width:100%; position: fixed; bottom:0; left:0; padding:10px 0; background: #f0f0f0;}
.health-btn a{display: block; margin:0 10px;  height:50px;line-height:50px; text-align: center; border-radius: 6px; background: #00b4b8; font-size:18px; color:#FFF;}
.health-explain{padding:10px;}
.health-explain p{line-height:18px; font-size:12px;}
.health-center li{overflow: hidden; border-bottom:1px solid #dadada;border-top:1px solid #dadada;  height:60px;   margin-top:-1px; background: #FFF;line-height:60px;font-size:15px;}
.health-center li p{font-size:15px; height:60px; line-height:60px;}
.health-center li p a{color:#ff4444;}
.health-center li p img{height:23px; width:23px; margin:19px 5px 0 0;}
.health-center li p b{ font-size:20px; margin-bottom:5px; color:#c0c0c0; display: block; float:right;}
.health-apply-into{margin:10px; border:2px solid #00b4b8; height:40px; border-radius: 3px;}
.health-apply-into span{width:50%;float:left;color:#00b4b8; background: #FFF;text-align: center; display:block; height:40px; line-height:40px;}
.health-apply-into span.current{ background: #00b4b8;color:#FFF;}
.health-apply-change .list-con{display: none;}
.health-apply-change .current{display: block;}
.health-input{float:right; padding-right:10px;}
.health-input input{text-align: right;width:100%; height:60px; line-height:60px;}
.health-center-bank li{overflow: hidden; border-bottom:1px solid #dadada;border-top:1px solid #dadada;  height:60px;   margin-top:-1px; background: #FFF;line-height:60px;font-size:15px; padding:0 10px;}
.health-center-bank li input{text-align: right;width:100%; height:60px; line-height:60px;}
.phone-code{padding:50px 0 30px;}
.phone-code li{border-top:1px solid #dadada;border-bottom:1px solid #dadada; background: #FFF; height:50px; line-height:50px; margin-top:-1px;padding:0 10px; }
.box-tit{float:left; }
.box-verify{float:left;padding-left:10px;}
.phone-code input{width:100%; height:20px; line-height:20px;}
.box-phone-tit{float:left;}
.box-phone-verify{padding-left:53px; height:50px;}
.box-phone-verify input{width:100%;}
.phone-code-btn{padding:0 10px;}
.phone-code-btn a{width:100%; display: inline-block; border-radius: 6px; font-size:18px; height:50px; line-height:50px; text-align: center; color:#FFF; background: #cccdd0;}
.phone-code-btn a:hover{background: #00b4b8;}
.case-help-current{background: #00b4b8;}
/*health-uploading*/
.uploading-top{padding:54px 0 70px 0;  }
.health-uploading li{ padding:10px; border-top:1px solid #dadada; border-bottom:1px solid #dadada; margin-top:-1px; background: #FFF;}
.health-uploading li span{float:left;height:20px; line-height:20px; width:100%; display: block;}
.health-uploading li .up-pic{height:50px; width:50px; position:relative; float:left; user-select:none;  margin:10px 5px 0 0; border-radius: 6px; border:1px dashed #959595; background: #EEE;}
.health-uploading li .up-pic a{display:inline-block;height:50px;height:50px; width:50px;line-height:50px; text-align: center; color:#c9c9c9; font-size:50px;}
.up-text{padding:0 10px;}
.up-text p{height:30px; line-height:30px; text-align: right; font-size:12px;}
.up-explain{padding:10px;}
.up-explain p{line-height:18px;  font-size:12px;}
.personal-data li{height:50px; line-height:50px; padding:0 10px; border-top:1px solid #dadada; border-bottom:1px solid #dadada; margin-top:-1px; background: #FFF;}
.personal-data li span{float:left;}
.personal-data li .personal-data-text{ padding-left: 70px;}
.personal-data li .personal-data-text input{width:100%;height:20px; line-height:20px; text-align: right;}

.single-select{float: left; margin: 15px 5px 0 0;  max-width: 75px;}



.divInput{
    height:50px;
    width: 50px;
    position:absolute;
    top:0;
    left:0;
    opacity: 0;
}


/*-------new-------*/
/*body{font-family:"\5170\4EAD\9ED1";}*/
.health-header{width:100%; height:200px; background:url(../images/health_header.jpg) no-repeat center bottom; background-size:cover;}
.health-header-title{width:100%; height:45px; background:none; z-index: 99;}
.top-left-btn{width:45px; height:45px; line-height:45px; position:absolute; left:0; top:0; z-index:9; font-size:32px; color:#fff; text-align:center;}
.top-right-btn{width:45px; height:45px; line-height:45px; position:absolute; right:0; top:0; z-index:9; font-size:32px; color:#fff; text-align:center;}
.health-header-title{width:100%; height:45px; line-height:45px; left:0; top:0; font-size:20px; text-align:center; color:#fff;}
.health-header-img{height:75px; width:75px; margin:0 auto; position:relative;}
.health-header-img a.header-img{width:75px; height:75px; display:block; border-radius:50%; -webkit-border-radius:50%;}
.health-header-img a.header-img img{width:75px; height:75px; display:block; border-radius:50%; -webkit-border-radius:50%;}
.edit-info{width:25px; height:25px; border-radius:50%; -webkit-border-radius:50%; position:absolute; right:0; bottom:0; background:#3978d6 url(../images/edit_ico.png) no-repeat; background-size:25px;}
.health-header-info{ color:#fff; font-size:15px; text-align:center; margin-top:10px; line-height:1.6em;}
.health-header-info p span{ margin:0 5px;}
.health-nav{height:45px; line-height:45px; background:#fff;}
.health-nav li{width:25%; height:45px; overflow:hidden; float:left;}
.health-nav li a{width:100%; height:45px; display:block; color:#878787;}
.health-nav li span{display:block; width:70%; height:35px; line-height:35px; margin:5px auto; border-bottom:1px solid #fff; text-align:center;}
.health-nav li span b{ background:url(../images/health_ico.png) no-repeat; background-size:19px; width:19px; height:19px; display:inline-block; overflow:hidden; vertical-align:-4px; margin-right:4px;}
.health-nav li span b.health-center{ background-position:0 0;}
.health-nav li span b.health-pharmacy{ background-position:0 -19px;}
.health-nav li span b.health-ranking{ background-position:0 -38px;}
.health-nav li span b.health-tools{ background-position:0 -57px;}
.health-nav li.cur span b.health-center{ background-position:0 -76px;}
.health-nav li.cur span b.health-pharmacy{ background-position:0 -95px;}
.health-nav li.cur span b.health-ranking{ background-position:0 -114px;}
.health-nav li.cur span b.health-tools{ background-position:0 -133px;}
.health-nav li.cur span{border-bottom:1px solid #ff9459; color:#ff9459;}
/*main*/
.health-center-main{margin:0 15px;}
.notice-box{ background:#ff7272; border-radius:4px; -webkit-border-radius:4px; padding:6px 8px; margin-top:15px; font-size:12px; color:#fff;line-height:1.6em; position:relative; box-shadow:0 2px 5px 0 #999;}
.notice-line{width:30px; height:20px; display:inline-block; background:url(../images/notice_line.png) no-repeat; position:absolute; left:50%; margin-left:-15px; top:-15px; background-size:30px 20px;}
.center-bar{height:45px; line-height:45px; border-radius:4px; -webkit-border-radius:4px; background:#fff; margin-top:10px; color:#606060; font-size:15px; text-align:right;}
.center-bar a{height:45px; display:block; padding:0 10px; color:#606060;}
.center-bar i{width:25px; height:25px; float:right; display:inline-block; margin:10px 5px; background:url(../images/code_ico.jpg) no-repeat; background-size:25px;}
.center-bar b{font-size:24px; color:#afafaf;}
.center-bar span{float:left;}
.eb-state li{height:67px; width:32%; float:left; border-radius:4px; -webkit-border-radius:4px; margin-top:10px; margin-right:2%; text-align:center;}
.eb-state li:last-child{margin-right:0;}
.eb-state li.blue1{
	background: -webkit-linear-gradient(left, #91b9fa , #65aced); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #91b9fa, #65aced); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #91b9fa, #65aced); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #91b9fa , #65aced); /* ��׼���﷨������������ */
}
.eb-state li.blue2{
	background: -webkit-linear-gradient(left, #72a4f0 , #539cde); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #72a4f0, #539cde); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #72a4f0, #539cde); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #72a4f0 , #539cde); /* ��׼���﷨������������ */
}
.eb-state li.blue3{
	background: -webkit-linear-gradient(left, #5f95e8 , #3586cf); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #5f95e8, #3586cf); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #5f95e8, #3586cf); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #5f95e8 , #3586cf); /* ��׼���﷨������������ */
}
.eb-state li a{color:#fff;}
.eb-state li span{ font-size:24px; margin-top:10px; display:inline-block;}
.eb-state li p{margin-top:5px;}

/*health tools*/
.health-center-tools{ background:#fff; margin-top:10px; overflow:hidden;}
.health-center-tools li{height:46px; line-height:46px; border-top:1px solid #e9e9e9; marign-top:-1px;}
.health-center-tools li a{padding:0 10px; height:46px; display:block; color:#3e3e3e; font-size:15px; overflow:hidden;}
.health-center-tools li b{float:right; font-size:24px; color:#afafaf;}
.health-center-tools li span{float:left;}
.health-center-tools li i{width:28px; height:28px; display:inline-block; float:left; overflow:hidden; background:url(../images/health_tools_ico.png) no-repeat; background-size:28px; margin:9px 5px 0 0;}
.health-center-tools li i.generate{ background-position: 0 0;}
.health-center-tools li i.share-gift{ background-position: 0 -28px;}
.health-center-tools li i.material{ background-position: 0 -56px;}
.health-center-tools li i.effect{ background-position: 0 -84px;}

/*health material*/
.tabs{height:45px;}
.tabs a{display:block;float:left;width:50%;color:#000;text-align:center;background:#fff;line-height:45px;font-size:15px;text-decoration:none;}
.tabs a.active{color:#fff;background:#4aa9eb;}
.share-tips{color:#3e3e3e; padding:5px 10px; line-height:1.6em; font-size:12px;}
.material-picture li{width:50%; float:left;}
.material-picture li a,.material-picture li img{width:100%; display:block;}
.material-text{margin:0 15px;}
.material-text li{background:#fff; border-radius:4px; -webkit-border-radius:4px; overflow:hidden; position:relative; margin-top:10px;}
.margin-text-detals{padding:5px 30px 5px 10px; color:#3e3e3e; text-align:justify;}
.material-text li a{ position:absolute; right:0; top:0; bottom:0; border-radius:0 4px 4px 0; -webkit-border-radius:0 4px 4px 0; font-size:12px; color:#fff; background:#feab30; text-align:center; width:20px;}
.copy_ico{width:10px; height:14px; display:inline-block; background:url(../images/copy_ico.png) no-repeat; background-size:10px 14px; margin:0 5px;}
.material-text li a span{ position:absolute; width:20px; height:40px; top:50%; display:inline-block; float:left; margin-top:-25px; left:0;}

/*common*/
.mt15{margin-top:15px;}.mlr15{margin-left:15px; margin-right:15px;}
.health-common-btn{height:50px; line-height:50px; display:block; border-radius:4px; -webkit-border-radius:4px; text-align:center; font-size:18px; color:#fff;
	background: -webkit-linear-gradient(left, #f49d57 , #f7843e); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #f49d57, #f7843e); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #f49d57, #f7843e); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #f49d57 , #f7843e); /* ��׼���﷨������������ */
}



.health_actrule{ display: none; width: 100%; background: rgba(255,255,255,1); position: fixed; bottom: 0; left:0;}
.health_actrule p{ line-height: 1.5em; font-size: 10px;}
.health_arrow span.arrowdown{ background: url("../images/health-arrowdown.png") no-repeat;}
.health_arrow span{ display:block; width: 30px; height: 30px; position: absolute; left: 50%; margin-left: -15px; bottom: 20px; background: url("../images/health-arrowtop.png") no-repeat;}




