html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,textarea,input,span,figure,aside,time,figcaption{margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none}
html,body{height:100%; position:relative}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{width:100%;font-family:"SimHei",Helvetica,Arial,sans-serif;font-size:14px;color:#000;background:#fff; line-height:1.6em;}
input,textarea{font-family:"SimHei",Helvetica,Arial,sans-serif;color:#000;background: none;}
input:-moz-placeholder,textarea:-moz-placeholder{color:#c7c7cd}
input:-ms-input-placeholder,textarea:-ms-input-placeholder{color:#c7c7cd}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#c7c7cd}
a{color:#0d0d0d;text-decoration:none;/*-webkit-tap-highlight-color:rgba(0,0,0,0.2);*/-webkit-tap-highlight-color:transparent}
a:hover{text-decoration:none}
a:focus{outline:none;blr:expression(this.onFocus=this.blur());}
a:hover,a:active{outline:0}
textarea,input{resize:none;outline:0;font-size:100%;-webkit-tap-highlight-color:rgba(255,0,0,0)}
textarea{resize:none;-webkit-appearance:none}
ul,ol{list-style:none}
em{font-style:normal}
h1,h2,h3,h4,h5,h6,b{font-weight:normal;}
.clearfix {margin-bottom:10px;position:relative}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0;overflow:hidden}
.fl{float:left}
.fr{float:right}
.health-article-share{font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;}
.article-share{padding:10px; overflow: hidden; background: #f7f7f7;}
.share-title{padding:0 23px 0 11px;font-size:18px; font-weight:bold; color:#000; margin-bottom:6px;}
.subhead{font-size:12px; color:#808080; margin-bottom:21px;padding:0 23px 0 11px;}
.subhead a{font-size:12px; color:#00a6a0;}
.main-text{overflow: hidden;}
.main-text p{font-size:15px; line-height:25px; margin-bottom:20px; padding:0 23px 0 11px;}
.main-img{padding:0 11px; margin-bottom:20px;}
.main-img img{width:100%;}
.recommend-shopping{overflow: hidden;}
.rcm-header{background: #EEE; height:32px; position: relative;}
.rcm-title{width:100%; text-align: center; font-size:15px; color:#00a6a0; line-height:32px; font-weight:bold;}
.rcm-line{display:block; border-top:1px solid #b9b9b9; height:0; position: absolute; top:16px; width:38%;}
.b-left{left:0;}
.b-right{right:0;}
.rcm-list{overflow: hidden;}
.rcm-list dl{margin-bottom:4px; overflow: hidden;}
.rcm-img{width:125px; height:125px; display: block; float:left;}
.rcm-img a,.rcm-img a img{width:125px; height:125px; display: block;}
.rcm-text{margin-left:138px;border-top:1px solid #e4e4e4;}
.rcm-list dl:first-child .rcm-text{border-top:none;}
.shopping-name{font-size:13px; color:#000; font-weight: bold; line-height:18px;height:20px; overflow: hidden;margin-top:5px;}
.sales-promotion{color:#e60116;font-size:13px; margin-bottom:15px;line-height:18px;height:40px;}
.shopping-norms{font-size:12px; color:#808080;}
.shopping-price span{float:left; font-size:13px;color:#e60116;}
.shopping-price span i{font-style: normal;font-size:18px; }
.shopping-price a{float:right; display:block; height:20px; line-height:20px; border-radius: 4px; padding:0 6px; margin-right:5px; text-align: center; color:#FFF; font-size:13px; background: #e60116;}
.health-more{border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; padding:0 15px 0 12px;}
.health-more a{display:block;width:100%; height:54px;line-height:54px;}
.health-more a span{float:left; padding-left:32px; font-size:16px; color:#000; background: url("images/health_article_icon.png") no-repeat center left; background-size: 23px;}
.health-more a p{float:right; font-size:15px; color:#808080; line-height:54px; background: url("images/health_arrow_right.png") no-repeat center right; background-size: 8px; padding-right:18px;}
.wx-img{padding:20px 0 35px;}
.wx-top{overflow:hidden;}
.wx-top li{width:50%; float:left; list-style:none;}
.wx-top li img{width:80%; display:block; margin:0 auto;}
.wx-img p{text-align: center; font-size:13px; margin-top:13px;}
.price-ui {position: absolute;top: 52%;width: 22%;right: 2%;height: auto;padding-top: 15px;padding-bottom: 5px;text-align: center;font-size: 6vw;color: #d10000;background: #fcffef;font-family: 'Arial';font-weight: bold;letter-spacing: -2px;}
.get-box{height:45px; padding-left:5px; background: #FFF; position: relative;}
.get-box label{display: block; height:45px; line-height:45px; background: url("http://img.zdfei.com/static/image/temp/20151229/cdf243262446233c557a91daddac4c5d.png") no-repeat left center; background-size: 18px;  padding-left:25px; font-size:12px;color:#999999;}
.getClick{display:block; position: absolute; top:7px; right:6px; height:30px; width:75px; line-height:30px; text-align: center; font-size:14px; border:1px solid #e74925; color:#e74925; border-radius:5px;font-size:12px;}
.read-wrap{height:30px; padding-left:20px; border-top:1px solid #d7d7d7;background:#f8f8f8;padding-top:5px;}
.read-wrap li{float:left; line-height:30px; margin-right:30px; color:#00b8c9;}
.read-wrap li span{float:left;}
.read-wrap li b{display:inline-block; float:left; margin-top:3px;height:20px; width:20px; background:url("http://img.zdfei.com/static/image/temp/20160107/fb0bd9f2efc969aed2fd601882219228.png") no-repeat center center; background-size: 16px;}
.read-wrap li b.click-b{background:url("http://img.zdfei.com/static/image/temp/20160107/fff1569bb7bc35104e7f9c75020c931c.png") no-repeat center center; background-size: 16px;}
.readnum {margin-left:3px;}
 
.open_red_bk {background:#f8f8f8;}
.open_red_line {width:100%;height:35px;background:#fff;line-height:35px;font-size:15px;font-family:"Microsoft YaHei" ! important;font-weight:bold;}
.open_red_line span.mid {width:50%;height:35px;display: block;float:left;text-align: center;}
.open_red_line span.line1 {width:20%;height:20px;border-bottom:#dcdcdc 1px solid;display: block;float:left;margin-left:5%;}
.open_red_line span.line2 {width:20%;height:20px;border-bottom:#dcdcdc 1px solid;display: block;float:right;margin-right:5%;}

._open_red_line {width:100%;height:35px;background:#fff;line-height:35px;font-size:15px;font-family:"Microsoft YaHei" ! important;font-weight:bold;}
._open_red_line span.mid {width:60%;height:35px;display: block;float:left;text-align: center;}
._open_red_line span.line1 {width:15%;height:20px;border-bottom:#dcdcdc 1px solid;display: block;float:left;margin-left:5%;}
._open_red_line span.line2 {width:15%;height:20px;border-bottom:#dcdcdc 1px solid;display: block;float:right;margin-right:5%;}
